
#postHeader {
  background-color: #7a7a7a;
}
#commentHeader {
  background-color: #1b1b1b;
}
.button-primary:hover {
  background-color: #3f3f3f !important;
}

.btnTextStrong {
  color: #c0c0c0
}

#logo {
  height: 50px;
  width: 50px;
};




.logoWords {
  color: #a35bdf
}

.btn-success {
  background-color: #5e5e5e;
  border: none;
};


.btn-success:focus {

  background-color: #2c2c2c

};

